<%- include("template/base_open.ejs",{title:"Home"})%>
<div class="viewCenter basicContainer  sizingContainer">
    <div class="centerContainer">
            <%- include('template/triangle_adver.ejs')%>
        <p class="textCenter"><strong>error ruta no encontrada</strong></p>
    </div>
</div>
<%- include("template/base_close.ejs")%>
