<%- include("template/base_open.ejs",{title:"Home"})%>
<div class="viewCenter basicContainer  sizingContainer">
    <p class="textCenter"><strong>Hola Mundo</strong></p>
        <p ><strong>Nombres:</strong> Justin Javier</p>
        <p ><strong>Apellidos:</strong> Vegas Linero</p>
        <p ><strong>Cedula:</strong> 30.703.464</p>
        <p ><strong>Seccion:</strong> 2°</p>



</div>
<%- include("template/base_close.ejs")%>
