<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%=title%></title>
	<link rel="stylesheet" href="/css/Globals.css">
	<link rel="stylesheet" href="/css/nav_css.css">
	<meta name="author" content="Justin Vegas">
	<meta name="keywords" content="proyecto programacion  html curriculum  sql css node estudiante">
	<meta name="description" content="pequeña pagina de actividad para un proyecto de programacion">
	<meta property="og:type" content="webSite">
	<meta property="og:url" content="https:p2-30703464.onrender.com">
	<meta property="og:description" content="pequeña pagina de actividad para un proyecto de programacion">
	<meta property="og:locale" content="es_ES">

	

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G17RQDFMV5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G17RQDFMV5');
</script>

</head>
<body>	

	
