<nav id="nav_bar" >
    <p id="nav_title">p2_30703464</p>
    <div id="nav_menu">
        <% let rutes=[
        {label:'Inicio',rute:'/'},
        {label:'Curriculum',rute:'/curriculum'},
        {label:'Contactos',rute:'/contacts/contactos'},
        {label:'Agg Contacto',rute:'/contacts/addContact'}]
            rutes=rutes.map(function(elem) {
                if(onlyRute==elem.rute){return}
            return ('<a class="nav_menu_items" href='+elem.rute+'>' + elem.label + '</a>');
        }) -%>
        <%- rutes.join("") %>
        

    </div>
</nav>
<div id="nav_template">

</div>